{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="canonical" href="https://https://demo.themesberg.com/landwind/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAUD-E</title>

    <!-- Meta SEO -->
    <meta name="title" content="GAUD-E">
    <meta name="description" content="GAUD-E">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Themesberg">

    <!-- Social media share -->
    <meta property="og:title" content="Landwind - Tailwind CSS Landing Page">
    <meta property="og:site_name" content="Themesberg">
    <meta property="og:url" content="https://https://demo.themesberg.com/landwind/">
    <meta property="og:description" content="Get started with a free and open-source landing page for Tailwind CSS built with the Flowbite component library featuring dark mode, hero sections, pricing cards, and more.">
    <meta property="og:type" content="">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@themesberg" />
    <meta name="twitter:creator" content="@themesberg" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdn.tailwindcss.com"></script>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/gaud-e.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        html {
            font-family: "Inter", sans-serif !important ;
        }
    </style>
</head>

<body>
<div class="bg-login flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
                </svg>
            </span>
        </div>
        <h2 class="text-2xl font-semibold text-center mb-4">GAUD-E</h2>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="login" class="block text-gray-700 text-sm font-semibold mb-2">Email *</label>
                <input type="text" name="login" id="login" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="antoni@gaud-e.com">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password *</label>
                <input type="password" name="password" id="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="••••••••">
            </div>
            <div class="mb-6">
                <input type="checkbox" name="remember" id="remember_me" class="form-checkbox">
                <label for="remember_me" class="text-gray-700 text-sm">Remember Me</label>
            </div>
            <button type="submit" class="w-full bg-teal-700 text-white px-4 py-2 rounded-lg hover:bg-teal-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Ingresar</button>
        </form>
        <div class="text-center mt-5">
            <a href="{% url 'home-view' %}" class="w-full text-teal-700 px-4 py-2 rounded-lg hover:bg-teal-900 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Volver a Home</a>
        </div>
        <div class="text-center mt-3">
            <a href="% provider_login_url 'google' %" class="w-full text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                <i class="fab fa-google"></i> Iniciar sesión con Google
            </a>
        </div>
    </div>
</div>

<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>
</html>
