{% extends 'GaudeSite/base.html' %}
{% load static %}

{% block content%}


<!-- Start block -->
    <section class="h-screen dark:bg-gray-900">

    
        <video autoplay muted loop>
            <source src="./static/images/casa.cascada_animation-mobile.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <script>
            window.onload = (event) => { loadVideoFormat( event ) };

            function loadVideoFormat( event ) 
            {

                let myvid = document.getElementById("cover-video");
                
                if ( screen.width > 800 ) { myvid.src = "./static/images/casa.cascada_animation.mp4"; }
                
                if ( screen.width <= 800 ) { myvid.src = "./static/images/casa.cascada_animation-mobile.mp4"; }
                
                myvid.load();

            }
        </script>
        
        <div class="layer"></div>

        <div class="grid max-w-screen-xl px-24 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28 h-screen">
            <div class="mr-auto w-full place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-bold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white text-white">AI generativa de arquitectura</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 text-white lg:mb-8 md:text-sm lg:text-lg dark:text-gray-400 ">Generación de Diseños Arquitectónicos 2D y 3D con Inteligencia Artificial</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 text-white lg:mb-8 md:text-sm lg:text-lg dark:text-gray-400 ">Aplicando inteligencia artificial al diseño arquitectónico para obtener resultados óptimos en eficiencia energética y medioambiental.</p>
                <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <a href="#" class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 text-white">
                        Probar Ahora
                    </a>
                </div>
            </div>
            <!--
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img src="./images/hero.png" alt="hero image">
            </div>                
            -->
        </div>
    </section>
<!-- End block -->

<!-- redesign y render -->

    <section class="" style="background: rgb(226,237,237); background: linear-gradient(135deg, rgba(242,245,245,1) 0%, rgba(212,224,224,1) 98%)">
        <div class="grid grid-cols-1 md:grid-cols-2 px-24 py-24 gap-12">
            <div class="text-center">
                <i class="mb-6 fa fa-repeat text-teal-700 text-[2rem]" aria-hidden="true"></i>
                <h2 class="mb-6 text-3xl font-extrabold leading-tight tracking-tight text-teal-700 dark:text-white">Rediseño</h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white">Rediseñe exteriores e interiores utilizando nuestras herramientas de IA para crear variaciones de diseño en cuestión de segundos.</p>
                <img class="object-contain" src="./static/images/splash-redesign.webp" alt="">
                
            </div>
            <div class="text-center">
                <i class="mb-6 fa fa-magic text-teal-700 text-[2rem]" aria-hidden="true"></i>
                <h2 class="mb-6 text-3xl font-extrabold leading-tight tracking-tight text-teal-700 dark:text-white">Render</h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white">AI render usando 6+ estilos para crear tomas nocturnas, realistas, cgi, bocetos de tinta y más.</p>
                <img class="object-contain" src="./static/images/premium_photo-1711471921528-3f7756bc40c9.avif" alt="">
            </div>
        </div>
    </section>

<!-- tools -->
    {% include './parts/explore-tools.html' %}
<!-- End block -->

<!-- More tools -->

    <section class="bg-white">
        <div class="py-12 flex flex-col items-center align text-center pb-24">
            <h2 class="mb-8 max-w-[80vw] md:max-w-[60vw] text-2xl md:text-5xl font-extrabold leading-tight tracking-tight text-teal-900 dark:text-white">Herramientas de renderizado IA para mejorar su flujo de trabajo de diseño arquitectónico</h2>
            <p class="mb-24 text-md md:text-2xl font-semibold leading-none tracking-tight text-teal-800 dark:text-white">8+ tools, 40+ styles to render or redesign in seconds</p>
            <a href="{% url 'exploreTools-view' %}" class="max-w-[50vw] sm-max-w-[20vw] text-white bg-degrade-teal hover:bg-teal-800 text-sm md:text-xl shadow-xl rounded-sm  focus:ring-4 focus:ring-purple-300 p-5 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 ">Explorar Herramientas</a>
                        
        </div>
    </section>

<!-- 6 tools de 2 en 2 -->

    <section>
        <div class="grid grid-cols-1 md:grid-cols-2 px-12 py-24 gap-12">

            <div class="text-center mt-24">
                <img class="object-contain" src="./static/images/premium_photo-1661883964999-c1bcb57a7357.avif" alt="">
                <h2 class="mb-6 mt-12 text-5xl font-bold leading-tight tracking-tight text-teal-700 dark:text-white">Exterior <span class="border border-4 border-teal-700 rounded-lg px-3">AI</span> </h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white px-12">AI render para Sketchup, Blender, 3Ds Max y modelos revit. Renderiza modelos de viewport o arcilla en segundos. Genera diversas visualizaciones de arquitectura para exteriores con las herramientas de renderizado de Gaud-E.</p>
                <a href="{% url 'exploreTools-view' %}" class="text-white  bg-degrade-teal hover:bg-teal-800 text-lg shadow-xl rounded-sm  focus:ring-4 focus:ring-purple-300 px-5 py-4 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 ">Probar Exterior AI</a>
            </div>

            <div class="text-center mt-24">
                <img class="object-contain" src="./static/images/photo-1600607687920-4e2a09cf159d.avif" alt="">
                <h2 class="mb-6 mt-12 text-5xl font-bold leading-tight tracking-tight text-teal-700 dark:text-white">Interior <span class="border border-4 border-teal-700 rounded-lg px-3">AI</span> </h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white px-12">Rediseñe exteriores e interiores utilizando nuestras herramientas de IA para crear variaciones de diseño en cuestión de segundos.</p>
                <a href="{% url 'exploreTools-view' %}" class="text-white  bg-degrade-teal hover:bg-teal-800 text-lg shadow-xl rounded-sm  focus:ring-4 focus:ring-purple-300 px-5 py-4 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 ">Probar Interior AI</a>
            </div>

            <div class="text-center mt-24">
                <img class="object-contain" src="./static/images/splash-redesign.webp" alt="">
                <h2 class="mb-6 mt-12 text-5xl font-bold leading-tight tracking-tight text-teal-700 dark:text-white">De boceto a imagen <span class="border border-4 border-teal-700 rounded-lg px-3">AI</span> </h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white px-12">Transforme sus bocetos a mano o digitales en impresionantes planos totalmente renderizados. Libere el poder de generar variaciones de diseño a partir de un único boceto, lo que le proporciona una flexibilidad sin precedentes.</p>
                <a href="{% url 'exploreTools-view' %}" class="text-white  bg-degrade-teal hover:bg-teal-800 text-lg shadow-xl rounded-sm  focus:ring-4 focus:ring-purple-300 px-5 py-4 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 ">De boceto a imagen AI</a>
            </div>

            <div class="text-center mt-24">
                <img class="object-contain" src="./static/images/splash-redesign.webp" alt="">
                <h2 class="mb-6 mt-12 text-5xl font-bold leading-tight tracking-tight text-teal-700 dark:text-white">Paisajismo <span class="border border-4 border-teal-700 rounded-lg px-3">AI</span> </h2>
                <p class="mb-10 leading-tight tracking-tight text-teal-700 dark:text-white px-12">¿Atascado con las ideas de paisajismo? Rediseña ideas de paisajismo para la entrada de tu edificio, patio trasero, jardín o cualquier zona ajardinada con más de 15 estilos de paisajismo diferentes.</p>
                <a href="{% url 'exploreTools-view' %}" class="text-white  bg-degrade-teal hover:bg-teal-800 text-lg shadow-xl rounded-sm  focus:ring-4 focus:ring-purple-300 px-5 py-4 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 ">Paisajismo AI</a>
            </div>
        </div>
    </section>

<!-- Ready to create stunning designs? -->

<!-- Start block Comienza una prueba -->
    <section class="bg-gray-50 dark:bg-gray-800">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
            <div class="max-w-screen-sm mx-auto text-center">
                <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-teal-700 dark:text-white">Comience hoy mismo su prueba gratuita</h2>
                <p class="mb-6 font-light text-teal-700 dark:text-gray-400 md:text-lg">Pruebe la plataforma GAUD-E durante 30 días. No necesita tarjeta de crédito</p>
                <a href="{% url 'register-view' %}" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Prueba gratuita durante 30 días</a>
            </div>
        </div>
    </section>
<!-- End block -->

<!-- Start block SPONSORS -->
    <section class="bg-white dark:bg-gray-900 pt-24">
        <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16 text-center">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white text-teal-700">Contamos con el apoyo de :</h2>
            <div class="px-12 grid grid-cols-2 gap-8 text-gray-500 sm:gap-12  dark:text-gray-400 ">
                <a href="#" class="flex items-center lg:justify-center">
                    <img class="w-90 rounded-t-lg hover:grayscale z-0" src="./static/images/logo-sercotec.png" alt="">
                </a>
                <a href="#" class="flex items-center lg:justify-center">
                    <img class="w-90 rounded-t-lg hover:grayscale z-0" src="./static/images/logo-uc.svg" alt="">                                              
                </a>
                
            </div>
        </div>
    </section>
<!-- End block -->
    <br>
    <br>
    <br>
<!-- Start block  Preguntas frecuentes-->
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-24 lg:px-6 ">
            <h2 class="mb-6 text-center text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white text-teal-700">Frequently asked questions</h2>
            <div class="max-w-screen-md mx-auto">
                <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                    <h3 id="accordion-flush-heading-1">
                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-teal-700 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                            <span>Can I use Landwind in open-source projects?</span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h3>
                    <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-teal-700 dark:text-gray-400">Landwind is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                            <p class="text-teal-700 dark:text-gray-400">Check out this guide to learn how to <a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                        </div>
                    </div>
                    <h3 id="accordion-flush-heading-2">
                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-teal-700 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                            <span>Is there a Figma file available?</span>
                            <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h3>
                    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-teal-700 dark:text-gray-400">Landwind is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                            <p class="text-teal-700 dark:text-gray-400">Check out the <a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Landwind.</p>
                        </div>
                    </div>
                    <h3 id="accordion-flush-heading-3">
                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-teal-700 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                            <span>What are the differences between Landwind and Tailwind UI?</span>
                            <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h3>
                    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-teal-700 dark:text-gray-400">The main difference is that the core components from Landwind are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Landwind relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                            <p class="mb-2 text-teal-700 dark:text-gray-400">However, we actually recommend using both Landwind, Landwind Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                            <p class="mb-2 text-teal-700 dark:text-gray-400">Learn more about these technologies:</p>
                            <ul class="pl-5 text-teal-700 list-disc dark:text-gray-400">
                                <li><a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">Landwind Pro</a></li>
                                <li><a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">Tailwind UI</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 id="accordion-flush-heading-4">
                        <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-teal-700 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
                            <span>What about browser support?</span>
                            <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h3>
                    <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
                        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-teal-700 dark:text-gray-400">The main difference is that the core components from Landwind are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Landwind relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                            <p class="mb-2 text-teal-700 dark:text-gray-400">However, we actually recommend using both Landwind, Landwind Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                            <p class="mb-2 text-teal-700 dark:text-gray-400">Learn more about these technologies:</p>
                            <ul class="pl-5 text-teal-700 list-disc dark:text-gray-400">
                                <li><a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">Landwind Pro</a></li>
                                <li><a href="#" class="text-teal-700 dark:text-purple-500 hover:underline">Tailwind UI</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>               
        </div>
    </section>
<!-- End block -->



  












{% include './parts/footer.html' %}

{% endblock %}