{% extends 'GaudeSite/base2.html' %}
{% load static %}

{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<style>
  body{
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  main#imgenMain {
    padding: 50px 50px 150px 50px;
    margin-bottom: 100px;
  }
</style>

<main id="imgenMain">
    <section id="new-section">
        <h1>Interior AI</h1>
        <p>Sube un boceto o modelo para rediseñar tu espacio interior con más de 20 estilos únicos.</p>

        <div class="content-wrapper">
          <div id="image-preview-box">
            <div class="swiper">
              <!-- Additional required wrapper -->
              
              <img class="preview-image" src="data:image/png;base64,{{ imagenes_base64 }}" alt="Generated Image"/>
 
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            
              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>              
            </div>
          </div>
      
          <form action="{% url 'interiorImage-view' %}" method="POST">
            {% csrf_token %}
            <div id="options-panel">
              <div class="option">
                <label for="select1">Tipo de habitación:</label>
                <select name="select1" id="select1">
                  <option value="living_room" {% if tipo_construccion == "living_room" %}selected{% endif %}>Living Room</option>
                  <option value="bedroom" {% if tipo_construccion == "bedroom" %}selected{% endif %}>Dormitorio</option>
                  <option value="bathroom" {% if tipo_construccion == "bathroom" %}selected{% endif %}>Baño</option>
                  <option value="kitchen" {% if tipo_construccion == "kitchen" %}selected{% endif %}>Cocina</option>
                  <option value="dining_room" {% if tipo_construccion == "dining_room" %}selected{% endif %}>Comedor</option>
                  <option value="reception" {% if tipo_construccion == "reception" %}selected{% endif %}>Recepción</option>
                  <option value="dressing_room" {% if tipo_construccion == "dressing_room" %}selected{% endif %}>Vestidor</option>
                  <option value="loft" {% if tipo_construccion == "loft" %}selected{% endif %}>Desván</option>
                  <option value="office" {% if tipo_construccion == "office" %}selected{% endif %}>Oficina</option>
                  <option value="meeting_room" {% if tipo_construccion == "meeting_room" %}selected{% endif %}>Sala de Reuniones</option>
                  <option value="coworking_space" {% if tipo_construccion == "coworking_space" %}selected{% endif %}>Espacio de Coworking</option>
                  <option value="study_room" {% if tipo_construccion == "study_room" %}selected{% endif %}>Sala de estudio</option>
                  <option value="gaming_room" {% if tipo_construccion == "gaming_room" %}selected{% endif %}>Sala de juegos</option>
                  <option value="coffee_shop" {% if tipo_construccion == "coffee_shop" %}selected{% endif %}>Cafetería</option>
                  <option value="restaurant" {% if tipo_construccion == "restaurant" %}selected{% endif %}>Restaurant</option>
                  <option value="hotel_lobby" {% if tipo_construccion == "hotel_lobby" %}selected{% endif %}>Lobby de hotel</option>
                  <option value="hotel_room" {% if tipo_construccion == "hotel_room" %}selected{% endif %}>Cuarto de hotel</option>
                  <option value="hotel_bathroom" {% if tipo_construccion == "hotel_bathroom" %}selected{% endif %}>Baño de hotel</option>
                  <option value="auditorium" {% if tipo_construccion == "auditorium" %}selected{% endif %}>Auditorio</option>
                  <option value="classroom" {% if tipo_construccion == "classroom" %}selected{% endif %}>Sala de clases</option>
                  <option value="fitness_gym_room" {% if tipo_construccion == "fitness_gym_room" %}selected{% endif %}>Sala de gimnasio</option>
                  <option value="clothing_store_room" {% if tipo_construccion == "clothing_store_room" %}selected{% endif %}>Tienda de ropa</option>
              </select>
              </div>
              
              <div class="option">
                <label for="select2">Estilo de habitación:</label>
                <select name="select2" id="select2">
                  <option value="warm_and_cosy" {% if estilo_construccion == "warm_and_cosy" %}selected{% endif %}>Cálida y acogedora</option>
                  <option value="luxurious" {% if estilo_construccion == "luxurious" %}selected{% endif %}>Lujoso</option>
                  <option value="minimalist" {% if estilo_construccion == "minimalist" %}selected{% endif %}>Minimalista</option>
                  <option value="boho_chic" {% if estilo_construccion == "boho_chic" %}selected{% endif %}>Boho-chic</option>
                  <option value="neoclassic" {% if estilo_construccion == "neoclassic" %}selected{% endif %}>Neoclásico</option>
                  <option value="art_deco" {% if estilo_construccion == "art_deco" %}selected{% endif %}>Art Decó</option>
                  <option value="art_nouveau" {% if estilo_construccion == "art_nouveau" %}selected{% endif %}>Art Nouveau</option>
                  <option value="ikea" {% if estilo_construccion == "ikea" %}selected{% endif %}>IKEA</option>
                  <option value="biophilic" {% if estilo_construccion == "biophilic" %}selected{% endif %}>Biophilic</option>
                  <option value="industrial" {% if estilo_construccion == "industrial" %}selected{% endif %}>Industrial</option>
                  <option value="japandi" {% if estilo_construccion == "japandi" %}selected{% endif %}>Japandi</option>
                  <option value="modern" {% if estilo_construccion == "modern" %}selected{% endif %}>Moderno</option>
                  <option value="contemporary" {% if estilo_construccion == "contemporary" %}selected{% endif %}>Contemporáneo</option>
                  <option value="eclectic" {% if estilo_construccion == "eclectic" %}selected{% endif %}>Ecléctico</option>
                  <option value="wabi_sabi" {% if estilo_construccion == "wabi_sabi" %}selected{% endif %}>Wabi-sabi</option>
                  <option value="zen" {% if estilo_construccion == "zen" %}selected{% endif %}>Zen</option>
                  <option value="coastral" {% if estilo_construccion == "coastral" %}selected{% endif %}>Costero</option>
                  <option value="mediterranean" {% if estilo_construccion == "mediterranean" %}selected{% endif %}>Mediterráneo</option>
                  <option value="shabby_chic" {% if estilo_construccion == "shabby_chic" %}selected{% endif %}>Shabby Chic</option>
                  <option value="bauhaus" {% if estilo_construccion == "bauhaus" %}selected{% endif %}>Bauhaus</option>
                  <option value="futuristic" {% if estilo_construccion == "futuristic" %}selected{% endif %}>Futurista</option>
                  <option value="pharaonic" {% if estilo_construccion == "pharaonic" %}selected{% endif %}>Faraónico</option>
                  <option value="tropical" {% if estilo_construccion == "tropical" %}selected{% endif %}>Tropical</option>
                  <option value="tribal" {% if estilo_construccion == "tribal" %}selected{% endif %}>Tribal</option>
                  <option value="rustic" {% if estilo_construccion == "rustic" %}selected{% endif %}>Rústico</option>
                  <option value="midcentury_modern" {% if estilo_construccion == "midcentury_modern" %}selected{% endif %}>Moderno de mediados de siglo</option>
                  <option value="maximalist" {% if estilo_construccion == "maximalist" %}selected{% endif %}>Maximalista</option>
                  <option value="vintage" {% if estilo_construccion == "vintage" %}selected{% endif %}>Vintage</option>
                  <option value="medieval" {% if estilo_construccion == "medieval" %}selected{% endif %}>Medieval</option>
                  <option value="barroque" {% if estilo_construccion == "barroque" %}selected{% endif %}>Barroco</option>
                  <option value="halloween" {% if estilo_construccion == "halloween" %}selected{% endif %}>Halloween</option>
                  <option value="cyberpunk" {% if estilo_construccion == "cyberpunk" %}selected{% endif %}>Cyberpunk</option>
                  <option value="chrismas" {% if estilo_construccion == "chrismas" %}selected{% endif %}>Navideño</option>
                </select>
              </div>
              

          
              <div class="option">
                <label for="select4">Añade detalles:</label>
                <textarea name="prompt" placeholder="Color rojo, 2 pisos, en la playa, etc..." rows="6" cols="50">{{ prompt }}</textarea>
              </div>

              <div class="option">
                <label for="select5">Negative prompt:</label>
                <textarea name="negative_prompt" placeholder="" rows="1" cols="50">{{ negative_prompt }}</textarea>
              </div>
              
              
              <div class="option">
                <label for="select6">Selecciona modelo:</label>
                <select name="select6" id="select6">
                  <option value="sd3" {% if estilo_construccion == "sd3" %}selected{% endif %}>sd3</option>
                  <option value="sd3-turbo" {% if estilo_construccion == "sd3-turbo" %}selected{% endif %}>sd3-turbo</option>
                </select>
              </div>

              <div class="option">
                <label for="select3">Aspect Ratio:</label>
                <select name="select3" id="select3">
                  <option value="1:1" {% if estilo_construccion == "1:1" %}selected{% endif %}>1:1</option>
                  <option value="2:3" {% if estilo_construccion == "2:3" %}selected{% endif %}>2:3</option>
                  <option value="3:2" {% if estilo_construccion == "3:2" %}selected{% endif %}>3:2</option>
                  <option value="4:5" {% if estilo_construccion == "4:5" %}selected{% endif %}>4:5</option>
                  <option value="5:4" {% if estilo_construccion == "5:4" %}selected{% endif %}>5:4</option>
                  <option value="9:16" {% if estilo_construccion == "9:16" %}selected{% endif %}>9:16</option>
                  <option value="9:21" {% if estilo_construccion == "9:21" %}selected{% endif %}>9:21</option>
                  <option value="16:9" {% if estilo_construccion == "16:9" %}selected{% endif %}>16:9</option>
                  <option value="21:9" {% if estilo_construccion == "21:9" %}selected{% endif %}>21:9</option>
                </select>
              </div>

              <div class="option">
                <label for="seed">Seed:</label>
                <input type="range" id="seed" name="seed" min="0" max="4294967294" value="0">
                <span id="seedValue">0</span>
                <input type="hidden" id="seedHidden" name="seed_hidden" value="0">
              </div>



              <div class="option">
                <button type="submit">Generar</button>
              </div>
            </div>
      
          </form>
        </div>
      </section>  
</main>

<script>
  document.getElementById('seed').addEventListener('input', function() {
      document.getElementById('seedValue').innerText = this.value;
      document.getElementById('seedHidden').value = this.value;
  });
</script>

{% endblock %}
