
              
    <div class="w-full h-full flex justify-center items-center">
        {% if imagenes_base64 %}
            <img class="preview-image max-h-[95vh] pt-[10vh]" src="data:image/png;base64,{{ imagenes_base64 }}" alt="Generated Image"/>
        {% else %}
            <i class="fa-solid fa-image text-6xl text-teal-700 opacity-40"></i>
        {% endif %}

        <!--
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>   
        -->

    </div>
